.product_box {
  width: 320px;
  overflow: hidden;
  max-height: 470px;
  padding: 10px;
  background-color: #f5def2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product_box img {
  width: 100%;
  height: 235px;
  object-fit: cover;
}

.price {
  margin: 8px 0px;
  font-size: 20px;
  color: #222;
  font-weight: bold;
}

.description h2 {
  color: rgb(123, 52, 52);
}
