body {
  font-family: Arial, Helvetica, sans-serif;
}

.header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #50be77;
  background-color: #f8f9fb;
  height: 40px;
  align-items: center;
  padding-right: 220px;
  padding-left: 220px;
}

.header-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 100%;
  width: 200px;
}

.register {
  color: white;
  background-color: #50be77;
  border: none;
  height: 100%;
  width: 60%;
}

#login {
  width: 50%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #50be77;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.logo p {
  margin: 0;
  margin-left: -28px;
  font-size: 22px;
  font-weight: bolder;
  white-space: nowrap;
  color: #345383;
  z-index: 2;
}

.socials {
  color: #50be77;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 60%;
}

.header2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  /* overflow: hidden; */
}

.info {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  color: rgb(87, 87, 87);
  /* min-width: 0;
  flex-shrink: 1; */
}

.socials button {
  color: white;
  background-color: #50be77;
  border: none;
  aspect-ratio: 1/1;
  width: 38px;
  height: 38px;
}

.header-left2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 30%;
  padding-left: 220px;
  /* min-width: 0; */
}

.box {
  width: 120px;
  padding-right: 220px;
}
